@font-face {
  font-family: "arial";
  src: url("../font/ARLRDBD.ttf") format("truetype");
}
@font-face {
  font-family: "rock";
  src: url("../font/rockstars.ttf") format("truetype");
}

@font-face {
  font-family: "kalam";
  src: url("../font/kalamregular.ttf") format("truetype");
}

body {
  background-color: white; color: #000000 ; font-family: "arial";
  background-image: url(../Imagenes/Dulce/fondo.jpg); background-repeat: no-repeat; background-attachment: fixed;
 background-size: cover;
}

.imagenpastafrola{text-align: left; float: left; padding-right: 2%; width: 25%; height: 25%;}
.imagenpastafrola:hover{width: 40%;}
.contenido{text-align: center; font-size: 24px ; text-decoration: underline; font-family: "kalam";}
.texto1 {text-align: center; font-size: 18px; font-family: "arial";}
.cursiva{font-style: italic;}
.lista{font-size: 170%; text-align: center; font-family: "kalam"; text-decoration: underline;}
.lista1 {text-align: center; font-family: "kalam"; font-size: 150%;}
.ingredientes {text-align: center; font-size: 18px; font-family: "arial";}
.explicación{display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: "arial";}

.iconowp{width: 5%; position: fixed; bottom: 2%; right: 1%;}

header { display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: lightgrey 4px solid;
  padding: 1%;
  background-color:#E9E8E7;
  height: 75%;
}

.logo { width: 15%; height: 15%}

.redsocial {width: 25%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #B2BABB;
    margin: 1%;
    align-items: center;
    align-self: center;
}

.iconoenlaces {max-width: 65%; padding: 15%; justify-content: space-around; align-items: center;}
.iconoenlaces:hover {width: 18%;}

.titulo {text-align: center;
  color: #EC407A ;
  align-self: center;
  justify-content: center;
  font-family:"kalam";
}

.titulo:hover {color:#FFFF99;
}

a:hover{
  color:red;
  font-size: 150%;
}

a {text-decoration: none; color: black;}

footer { display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: lightgrey 4px solid;
  padding: 1%;
  background-color: #E9E8E7;
  height: 75%;
}
.mibarrio {height: 20%; width:30%; align-items: center; align-self: center;}
.redsocial1 {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #B2BABB;
    margin: 1%;
    align-items: center;
    align-self: center;
}
.iconoenlaces1 {max-width: 65%; padding: 15%;justify-content: space-around; align-items: center;}
.descripción {flex-direction: column; align-self: center; text-align: center; font-family: sans-serif;}
.instavico {color: black;font-family: sans-serif;}

nav div {display: flex;
  flex-wrap: wrap;
  background-color:#EF9A9A;
  padding: 1vh;
  }

.enlaces0 {font-family: "rock";
  font-weight: bolder;
  justify-content: center;
  justify-content: space-around;
  align-self: center;
}

.titulocontactos {
font-family: "arial";
}

section {display: block;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mapaitalia {
  align-self: center;
}

.imagenpastafrola1{
  justify-content: center;
  margin: 15vw;
  width: 70vw;
}
.imagenpastafrola2 {
  justify-content: center;
  margin: 10vw;
  width: 75%;
}

.row {
  display: flex;
  padding: 4vh;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-around;
}

.card {
margin-top: 2vh;
padding: 2vh;
  background-color: #EF9A9A;
}


@media (max-width: 570px) {
  .videoyoutube {
    display: none;
  }
}

@media (max-width: 570px) {
.mapaitalia {
  display: none;
}
}

@media (min-width: 700px) {
.imagenpastafrola1 {
  display: none;
}
}

@media (max-width: 570px) {
  .imagenpastafrola{
    display: none;
  }
}

@media (min-width: 700px) {
  .imagenpastafrola2{
    display: none;
  }
  }

@media (max-width: 570px) {
  .enlaces0 {
  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 570px) {
  .mibarrio {
    display: none;
  }
}

@media (max-width: 570px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 570px) {
  footer {
    flex-direction: column;
  }

}
